<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.goparce"
    tools:ignore="CoarseFineLocation" >
    <!-- 🌐 PERMISOS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GOparce"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".PerfilActivity"
            android:exported="false"
            android:theme="@style/Theme.GOparce" />
        <!-- 🔥 API KEY GOOGLE MAPS (OBLIGATORIO) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCwsJ88IFnvM2Vj_a_fEaunsJosmRRX6to" /> <!-- 🔥 ACTIVIDADES -->
        <activity android:name=".MapActivity" />
        <activity android:name=".GustosActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" /> <!-- 🏠 MAIN -->
        <activity android:name=".ActividadActivity"/>
        <activity android:name=".MuralesActivity"/>
        <activity android:name=".DetalleMuroActivity"/>
        <activity android:name=".CuponesActivity"/>

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventosActivity"/>

    </application>

</manifest>